# Auto detect text files and perform LF normalization
*          text=auto

# Documents
*.md       text eol=lf
*.tex      text diff=tex
*.adoc     text
*.textile  text
*.mustache text eol=lf
*.csv      text
*.tab      text
*.tsv      text
*.txt      text eol=lf
*.sql      text

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.sh       text eol=lf
*.rc       text eol=lf

# Source files
# ============
*.pxd    text diff=python eol=lf
*.py     text diff=python eol=lf
*.py3    text diff=python eol=lf
*.pyc    text diff=python eol=lf
*.pyd    text diff=python eol=lf
*.pyo    text diff=python eol=lf
*.pyw    text diff=python eol=lf
*.pyx    text diff=python eol=lf
*.pyz    text diff=python eol=lf


#
# Exclude files from exporting
#

.gitattributes export-ignore
.gitignore     export-ignore