# WordOps admin NGINX CONFIGURATION - WordOps {{release}}

server {

  listen {{port}} default_server ssl;

  access_log   /var/log/nginx/22222.access.log rt_cache;
  error_log    /var/log/nginx/22222.error.log;

  # Force HTTP to HTTPS
  error_page 497 =200 https://$host:{{port}}$request_uri;

  root {{webroot}}22222/htdocs;
  index index.php index.htm index.html;

  set $php_ver {{php_ver}};
  set $pool_name {{pool_name}};
  include common/php.conf;

  # Turn on directory listing
  autoindex on;

  # HTTP Authentication on port 22222
  include common/acl.conf;

  # nginx-vts-status
  location /vts_status {
    vhost_traffic_status_bypass_limit on;
    vhost_traffic_status_bypass_stats on;
    vhost_traffic_status_display;
    vhost_traffic_status_display_format html;
  }

  location /nginx_status {
    stub_status;
    allow 127.0.0.1;
    deny all;
    access_log off;
    log_not_found off;
  }

  # Display menu at location /fpm/status/
  location = /fpm/status/ {}

  location ~ ^/fpm/status/(?<pool>[^/]+)$ {
    include fastcgi_params;
    fastcgi_param SCRIPT_NAME /status;
    fastcgi_pass unix:/run/php/$pool.sock;
  }

  include {{webroot}}22222/conf/nginx/*.conf;

}
