[global]
pid = /run/php/php{{php_version}}-fpm-{{slug}}.pid
error_log = /var/log/php/{{php_version}}/{{slug}}/error.log
log_level = notice
emergency_restart_threshold = 10
emergency_restart_interval = 1m
process_control_timeout = 10s
include = /etc/php/{{php_version}}/fpm/pool.d/{{slug}}.conf
