[Unit]
Description=PHP {{php_version}} FPM pool for %i
After=network.target

[Service]
Type=notify
# Load the pool-specific config, not the global one
ExecStart=/usr/sbin/php-fpm{{php_version}} \
--nodaemonize \
--fpm-config /etc/php/{{php_version}}/fpm/php-fpm-%i.conf
ExecStartPost=-/usr/lib/php/php-fpm-socket-helper install \
/run/php/php{{php_ver}}-fpm-%i.sock \
/etc/php/{{php_version}}/fpm/pool.d/%i.conf {{php_ver}}
ExecStopPost=-/usr/lib/php/php-fpm-socket-helper remove \
/run/php/php{{php_ver}}-fpm-%i.sock \
/etc/php/{{php_version}}/fpm/pool.d/%i.conf {{php_ver}}

ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure

PrivateTmp=true
ProtectSystem=full
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
